<!-- arduino_connector.launch - Starts the ROS-Arduino connection node -->
<launch>
  <!-- Flags to enable/disable sensors -->
  <arg name="enable_gps" default="true"/>
  <arg name="enable_encoders" default="true"/>

  <node pkg="arduino_connector" type="ArduinoConnector.py"
    name="arduino_connector" required="true">
    <param name="enable_gps" value="$(arg enable_gps)"/>
    <param name="enable_encoders" value="$(arg enable_encoders)"/>
  </node>
</launch>
