<?xml version="1.0"?>
<robot name="robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Macro for setting Gazebo wheel parameters -->
  <xacro:macro name="gazebo_wheel" params="prefix suffix">
    <gazebo reference="${prefix}_${suffix}_wheel">
      <mu1>1.0</mu1>
      <mu2>0.0</mu2>
      <kp>1000000000000.0</kp>
      <kd>1.0</kd>
      <minDepth>0.001</minDepth>
      <maxVel>0.1</maxVel>
      <fdir1>1 0 0</fdir1>

      <!-- Bullet Featherstone engine: Need to set torsional friction to 0. -->
      <!-- https://github.com/gazebosim/gz-physics/issues/697#issuecomment-2445495247 -->
      <collision>
        <surface>
          <friction>
            <torsional>
              <coefficient>0.0</coefficient>
            </torsional>
          </friction>
        </surface>
      </collision>
    </gazebo>
  </xacro:macro>

  <!-- Gazebo wheel parameters -->
  <xacro:gazebo_wheel prefix="left" suffix="front"/>
  <xacro:gazebo_wheel prefix="left" suffix="rear"/>
  <xacro:gazebo_wheel prefix="right" suffix="front"/>
  <xacro:gazebo_wheel prefix="right" suffix="rear"/>

  <!-- ros2_control Gazebo plugins -->
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find robomagellan_controller)/config/robomagellan_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
