# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Eclipse Workspace Files
*.cproject
*.project

# VIM swap files
*.swp

# ROS workspace files and directories (contents change on catkin_make)
ros_workspace/.catkin_workspace
ros_workspace/src/CMakeLists.txt
ros_workspace/build/
ros_workspace/devel/
