<!-- robomagellan.launch - Actual launch file for RoboMagellan -->
<launch>
  <!-- High-level flags to enable/disable individual components -->
  <arg name="enable_ac" default="true"/>
  <arg name="enable_odometry" default="true"/>
  <arg name="enable_diff_drive" default="true"/>

  <!-- Flags to enable/disable sensors -->
  <arg name="enable_gps" default="true"/>
  <arg name="enable_encoders" default="true"/>

  <!-- Motor Controller proportional constants -->
  <arg name="kp_left" default="1.125"/>
  <arg name="kp_right" default="1.125"/>
  <arg name="ki_left" default="0.00001"/>
  <arg name="ki_right" default="0.00001"/>
  <arg name="kd_left" default="25.0"/>
  <arg name="kd_right" default="25.0"/>

  <!-- Arduino Connector -->
  <group if="$(arg enable_ac)">
    <include file="$(find arduino_connector)/launch/arduino_connector.launch">
      <arg name="enable_gps" value="$(arg enable_gps)"/>
      <arg name="enable_encoders" value="$(arg enable_encoders)"/>
    </include>
  </group>

  <!-- Odometry -->
  <group if="$(arg enable_odometry)">
    <include file="$(find odometry)/launch/odometry.launch">
    </include>
  </group>

  <!-- Differential Drive Controller -->
  <group if="$(arg enable_diff_drive)">
    <include file="$(find rpi_motors)/launch/rpi_motors.launch">
      <arg name="kp_left" value="$(arg kp_left)"/>
      <arg name="kp_right" value="$(arg kp_right)"/>
      <arg name="ki_left" value="$(arg ki_left)"/>
      <arg name="ki_right" value="$(arg ki_right)"/>
      <arg name="kd_left" value="$(arg kd_left)"/>
      <arg name="kd_right" value="$(arg kd_right)"/>
    </include>
  </group>
</launch>
