<?xml version="1.0"?>
<!-- sim_competition.launch - Starts a simulated RoboMagellan run -->
<launch>
  <!-- Using simulation -->
  <arg name="use_sim" value="true"/>

  <!-- Launch Gazebo and RVIZ -->
  <include file="$(find robomagellan_2024_description)/launch/robomagellan-2024-gazebo.launch"/>
</launch>
