<!-- rpi_motors.launch - Starts the Raspberry Pi Talon SRX node -->
<launch>
  <!-- Proportional constants -->
  <arg name="kp_left" default="1.0"/>
  <arg name="kp_right" default="1.0"/>
  <arg name="ki_left" default="1.0"/>
  <arg name="ki_right" default="1.0"/>
  <arg name="kd_left" default="1.0"/>
  <arg name="kd_right" default="1.0"/>

  <node pkg="rpi_motors" type="rpi_motors_node.py" name="rpi_motors"
    required="true">
    <param name="kp_left" value="$(arg kp_left)"/>
    <param name="kp_right" value="$(arg kp_right)"/>
    <param name="ki_left" value="$(arg ki_left)"/>
    <param name="ki_right" value="$(arg ki_right)"/>
    <param name="kd_left" value="$(arg kd_left)"/>
    <param name="kd_right" value="$(arg kd_right)"/>
  </node>
</launch>
