#!/usr/bin/env python

PACKAGE = 'differential_drive_controller'

from dynamic_reconfigure.parameter_generator_catkin import ParameterGenerator, bool_t, double_t

gen = ParameterGenerator()

# Publication related
gen.add("publish_rate", double_t, 0, "Publish rate of odom", 50.0, 0.0, 2000.0)
gen.add("enable_odom_tf", bool_t, 0, "Publish odom frame to tf", True)

exit(gen.generate(PACKAGE, "differential_drive_controller", "DifferentialDriveController"))
